<div class="container-fluid mt-4"id="facebook">
    <div class="row">
        <div class="col-6 text-center">
            <h4>Liens utiles</h4>
            <div></div>
            <div></div>
            <div></div>
            <div class="district mt-4"><a href="https://jura.fff.fr/"><img src="{{ asset('district.jpeg') }}" alt="district"></a></div>
            <div class="ligue mt-4"><a href="https://lbfc.fff.fr/competitions/"><img src="{{ asset('ligue.jpg') }}" alt="ligue"></a></div>
            <div class="fff mt-4"><a href="https://www.fff.fr/"><img src="{{ asset('fff.jpg') }}" alt="fff"></a></div>
            <div class="progres mt-4"><a href="https://www.leprogres.fr/"><img src="{{ asset('progres.jpg') }}" alt="progres"></a></div>
        </div>
        <div class="col-6">
            <div class="fb-page" data-href="https://www.facebook.com/Mont-Sous-Vaudrey-football-173867456777693/" data-tabs="timeline" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Mont-Sous-Vaudrey-football-173867456777693/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Mont-Sous-Vaudrey-football-173867456777693/">Mont Sous Vaudrey football</a></blockquote></div>
        </div>
    </div>
</div>