<div class="container-fluid mt-5" id="footer">
    <div class="row justify-content-center">
        <p>Crédit mutuel - Le progrès - Florinne Taxi</p>
    </div>
    <div class="row justify-content-center">
        <h6>CCSVA Section Football - Stade Jean FRAISIER - rue Paul KOEPFLER - 39380 MONT-SOUS-VAUDREY</h6>
    </div>
</div>