<div class="container-fluid rounded shadow mt-5" id="match">
    <div class="row pt-2 pb-2" id="senior">
        <div class="col-4">
            <div class="row justify-content-center" id="seniorA">
                <h5>SENIORS A - REGIONALE 3</h5>
            </div>
        </div>
        <div class="col-4">
            <div class="row justify-content-center" id="seniorB">
                <h5>SENIORS B - DEPARTEMENTALE 3</h5>
            </div>
        </div>
        <div class="col-4">
            <div class="row justify-content-center" id="seniorC">
                <h5>SENIORS C - DEPARTEMENTALE 4</h5>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-2 pb-1" id="dernierMatch">
        <h6>DERNIER MATCH</h6>
    </div>
    <div class="row pt-1 pb-1">
        <div class="col-4 text-center" id="tab">
            <span><strong>Championnat</strong></span><br>
            <span>07/04/2019</span><br>
            <span>Mont-Sous-Vaudrey - Chalon ACF</span><br>
            <span>4 - 0</span>
        </div>
        <div class="col-4 text-center" id="tab">
            <span><strong>Championnat</strong></span><br>
            <span>07/04/2019</span><br>
            <span>Montbarrey - Mont-Sous-Vaudrey</span><br>
            <span>2 - 2</span>
        </div>
        <div class="col-4 text-center">
            <span><strong>Championnat</strong></span><br>
            <span>07/04/2019</span><br>
            <span>Aiglepierre B - Mont-Sous-Vaudrey</span><br>
            <span>1 - 3</span>
        </div>
    </div>
    <div class="row justify-content-center pt-2 pb-1" id="prochainMatch">
        <h6>PROCHAIN MATCH</h6>
    </div>
    <div class="row pt-1 pb-1">
        <div class="col-4 text-center" id="tab">
            <span><strong>Championnat</strong></span><br>
            <span>14/04/2019</span><br>
            <span>Sennecey Grand US - Mont-Sous-Vaudrey</span><br>
            <span>à Sennecey Le Grand</span>
        </div>
        <div class="col-4 text-center" id="tab">
            <span><strong>Championnat</strong></span><br>
            <span>14/04/2019</span><br>
            <span>Mont-Sous-Vaudrey - Rochefort Amange B</span><br>
            <span>à Mont-Sous-Vaudrey</span>
        </div>
        <div class="col-4 text-center mb-2">
            <span><strong>Championnat</strong></span><br>
            <span>17/04/2019</span><br>
            <span>Triangle d'Or C - Mont-Sous-Vaudrey</span><br>
            <span>à Salins les bains</span>
        </div>
    </div>
</div>