<div class="container-fluid mt-4" id="ranking">
    <div class="row" id="classement">
        <div class="col-12 text-center">
            <h5>CLASSEMENT</h5>
        </div>
        <div class="col-4">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Equipes</th>
                    <th scope="col">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Jura Dolois Foot 2</td>
                    <td>36</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Chenôve CL</td>
                    <td>35</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Châlon ACF</td>
                    <td>33</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Sennecey Grand US</td>
                    <td>31</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Sagy AS</td>
                    <td>24</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Mir/Pont/Lam FC</td>
                    <td>21</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Mont-Sous-Vaudrey</td>
                    <td>20</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Plombières ASC</td>
                    <td>9</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Genlis AS</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Semur Epoisses US</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Is-Selongey 3</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Marsannay CL</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Equipes</th>
                    <th scope="col">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mont-Sous-Vaudrey</td>
                    <td>31</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Gevry</td>
                    <td>30</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Montbarrey</td>
                    <td>27</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Trois Monts B</td>
                    <td>23</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Bresse Jura Foot 3</td>
                    <td>19</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Plaine 39 FC B</td>
                    <td>14</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Moissey</td>
                    <td>13</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Souvans</td>
                    <td>11</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Archelange</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Rochefort Amange B</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Equipes</th>
                    <th scope="col">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mont-Sous-Vaudrey</td>
                    <td>29</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Chapelle Voland</td>
                    <td>26</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Triangle d'Or 3</td>
                    <td>21</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Pleure B</td>
                    <td>21</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Brenne Orain B</td>
                    <td>18</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Aiglepierre B</td>
                    <td>15</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Poligny Grimont 3</td>
                    <td>12</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Passenans</td>
                    <td>9</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Jura Stade 4</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>