{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="row justify-content-center mt-4">
        <h4>Administration du site</h4>
    </div>
    <div class="row admin mt-5 mb-4">
        {% include 'admin/staff/card.html.twig' %}
        {% include 'admin/calling/card.html.twig' %}
    </div>
    <div class="row admin">
       {#{% include 'admin/match/card.html.twig' %}
       {% include 'admin/ranking/card.html.twig' %}#}
    </div>

{% endblock %}
