{% extends 'base.html.twig' %}

{% block title %}Staff{% endblock %}

{% block body %}

    <div class="row">
        <h4>Staff</h4>
    </div>

    {% for staff in staffs %}
        <div class="row">
            {{ staff.name }} {{ staff.firstname }}
        </div>
    {% endfor %}

{% endblock %}